services:
  backend:
    build: 
      context: ./backend
      dockerfile: ./Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env.example
    depends_on:
      - mysql
      - redis
      - elasticsearch

  mysql:
    image: mysql:8
    environment:
      - MYSQL_ROOT_PASSWORD=2511
      - MYSQL_DATABASE=job_board 
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-wolfi:9.2.0
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"

volumes:
  mysql_data:
